/* Import Inder font from Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Inder&display=swap');

.navigation {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    height: 80px;
    width: 100%;
    padding: 0rem 5%;
    background-color: #232323;
    color: #ffc529;
  }

  .logo-and-brand-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    width: 23.5%;
  }

  .logo-container {
    display: flex;
    height: 28px;
    width: 50px;
  }

  .logo {
    width: 50px;
    block-size: auto;
    border-radius: 20px;
    object-fit: cover;
    object-position: top -11.5px right 0;
  }
  
  .brand-name {
    text-decoration: none;
    color: #ffc529;
    font-family: "Inder", sans-serif;
    font-size: 40px;
    line-height: 50px;
  }
  
  .menu-container {
    margin-right: 0%;
    padding-right: 0%;
  }
  
  .navigation-menu ul {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
  }
  
  .navigation-menu li {
    list-style-type: none;
    margin: 0 1.3rem;
    border-top: 0.2rem solid #232323;
    border-bottom: 0.2rem solid #232323;
    text-transform: uppercase;
    cursor: pointer;
  }

  .navigation-menu li:hover {
    border-bottom: 0.2rem solid #ffc529;
  }
  
  .navigation-menu li a {
    text-decoration: none;
    display: block;
    width: 100%;
    font-family: "Avenir Black", sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: #ffc529;
  }
  
  .hamburger {
    border: 0;
    height: 40px;
    width: 40px;
    padding: 0.4rem;
    background-color: #232323;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    display: none;
  }

  .download-app-button-container {
    width: 24%;
    display: flex;
    justify-content: flex-end;
  }

  .download-app-button {
    background-color: #ffc529;
    border-style: none;
    border-radius: 20px;
    width: 100%;
    padding: 0 20px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Inder', sans-serif;
    font-size: 24px;
    line-height: 29px;
    cursor: pointer;
  }

  @media screen and (max-width: 1150px) {
    .navigation {
      justify-content: center;
    }

    .navigation-menu li {
      margin: 0 1rem;
    }
  }
  
  @media screen and (max-width: 1015px) {
    .hamburger {
      display: block;
    }

    .navigation {
      justify-content: flex-start;
    }
  
    .navigation-menu ul {
      flex-direction: column;
      position: absolute;
      top: 80px;
      left: 0;
      width: 100%;
      height: calc(100vh - 60px);
      background-color: #232323;
      overflow: auto;
      display: none;
    }
  
    .navigation-menu li {
      text-align: center;
      margin: 0;
    }
  
    .navigation-menu li a {
      color: #ffc529;
      width: 100%;
      padding: 1.5rem 0;
    }
  
    .navigation-menu li:hover {
      background-color: #eee;
    }

    .logo-and-brand-container {
      width: auto;
    }

    .download-app-button-container {
      justify-content: center;
      position: absolute;
      top: 472px;
      left: 0;
      width: 100%;
      padding: 1.5rem;
    }

    .download-app-button {
      display: none;
      width: 300px;
    }
  
    .navigation-menu.expanded ul {
      display: block;
    }

    .download-app-button.expanded {
      display: block;
    }
  }